# =========================
# PYTHON & AI ENVIRONMENT
# =========================
__pycache__/
*.py[cod]
*$py.class
venv/
.venv/
env/

# =========================
# FILE UPLOAD SEMENTARA
# =========================
storage/app/public/submissions/*
!storage/app/public/submissions/.gitignore